SpotifyAutomation/packages/Selenium.WebDriver.ChromeDriver.2.45.0/driver/mac64/chromedriver
SpotifyAutomation/packages/Selenium.WebDriver.ChromeDriver.2.45.0/driver/linux64/chromedriver
SpotifyAutomation/packages/Selenium.WebDriver.ChromeDriver.2.45.0/build/Selenium.WebDriver.ChromeDriver.targets
SpotifyAutomation/packages/Selenium.WebDriver.ChromeDriver.2.45.0/Selenium.WebDriver.ChromeDriver.2.45.0.nupkg
SpotifyAutomation/packages/Selenium.WebDriver.ChromeDriver.2.45.0/.signature.p7s
SpotifyAutomation/.vs/SpotifyAutomation/v15/Server/sqlite3/db.lock
SpotifyAutomation/SpotifyAutomation/RestSharpSpot/Key.txt
SpotifyAutomation/SpotifyWebAppAutomation/Key.txt